name: Deploy via FTP

on:
  push:
    branches: [ "main" ]

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v4
    
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '20'
    
    - name: Install & Build
      run: |
        npm ci
        npm run build
        # This creates the 'out' folder

    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.HOSTINGER_SSH_HOST }}
        username: ${{ secrets.HOSTINGER_SSH_USER }}
        password: ${{ secrets.HOSTINGER_PASSWORD }}
        local-dir: ./out/
        server-dir: ./public_html/
        # This option deletes old files on the server automatically
        dangerous-clean-slate: true
